# https://wiki.archlinux.org/title/Flatpak#Automatic_updates_via_systemd
# https://www.reddit.com/r/SteamDeck/comments/zis9sf/psa_automatically_update_installed_flatpaks/

[Unit]
Description=Update Flatpak

[Timer]
OnBootSec=2m
OnActiveSec=2m
OnUnitInactiveSec=24h
OnUnitActiveSec=24h
AccuracySec=1h
RandomizedDelaySec=10m

[Install]
WantedBy=timers.target
